.page{
    width: 100%;
    min-height: 100vh;
    background: center / auto 100% no-repeat url('../../public/bg\ \(1\).png'), rgba(17, 31, 68, 80%);
    display: flex;
}

.page:before{
    display:block;
    content:'';
    position:absolute;
    z-index: -1;
    width:100%;
    height:100%;
    background-color: rgba(17, 31, 68, 80%); 
}

.container{
    max-width: 1440px;
    margin: auto;
}

@media screen and (max-width: 1440px) {
    .page:before{
        background: center / auto 100% no-repeat url('../../public/bg\ \(1\).png'), linear-gradient(to right, rgba(17, 31, 68, 100%) 20%, rgba(17, 31, 68, 80%) 50%, rgba(17, 31, 68, 100%) 100%);
    }
}