.wrapper{
    display: flex;
    flex-direction: column;
}

.selector{
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;

    background-color: white;
    color: #3268ae;
    border: #3268ae 3px solid;
    transition: ease-in-out .3s;
}

.icon{
    color: #3268ae;
    font-size: 2rem;
    margin-right: 20px;
}


.selector:hover{
    background-color: rgb(71, 66, 66);
    color: white;

    transform: translate(-5px, -5px);
    border-radius: 0%;
    box-shadow: 5px 5px 0px #3268ae;
}

.selector:hover .icon{
    color: white;
}

.text{
    color: white;
    text-align: center;
}